
body{
  margin: 0;
  text-align: center;
  font-family: 'Meriweather',serif;
  color: #40514E;
  line-height: 2;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Special Elite', cursive;
  font-weight: 1000;
  font-size: 5.625rem;
  color: #66BFBF;
}
li{
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
}

img{
  border-radius: 1px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
  text-align: left;
}
h2{
  color: #66BFBF;
  font-size: 30px;
}

h3{
  color: #11999E;
  font-size: 1.5rem;
}
a{
  color: #11999E;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.new:hover{
  color: #442727;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  text-align: center;
}

.middle-container{
margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}
.bold{
  font-size: 60px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.help{
  text-align: center;
}
.web{
  color : #66BFBF;
  text-align: center;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
hr {
  border-color: grey;
  width: 5%;
  height: 0;
  border-style: dotted none none;
  border-width: 3px;
}
.globe{
  height: 350px;
  width: 750px;
}

.top-bacteria{
position: absolute;
top: 50px;
right: 300px;
height: 130px;
width: 130px;

}
.bottom-bacteria{
  position : absolute;
  left: 300px;
  bottom: 300px;
  height: 130px;
  width: 130px;


}
.img1{
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 40px;
}
.img2{
  height: 150px;
  width: 150px;
  float: left;
  margin-right:  40px;
}
.ul{
  margin-left: 40px;
}
.me3{
  width: 20%;
  float: right;
  margin-left: 30px;
}
.me2{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.me1{
  width: 10%;
  padding: 10px;
}
#para{
  color: grey;
}

.BUTTON_EBJ {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #23A3A7);
   background-image: -moz-linear-gradient(top, #3D94F6, #23A3A7);
   background-image: -ms-linear-gradient(top, #3D94F6, #23A3A7);
   background-image: -o-linear-gradient(top, #3D94F6, #23A3A7);
   background-image: linear-gradient(to bottom, #3D94F6, #23A3A7);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
   font-family: Open Sans;
   font-size: 31px;
   font-weight: 100;
   padding: 27px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 2px -3px 18px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_EBJ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.symptoms{
  background-color: #7ebdb4;
  width: 50%;
  height: 80px;
  padding: auto;
  margin: 10px auto 10px auto;
}
.sym{
  color: black;
  font-family: 'Meriweather',serif;
  margin: -15px;
}
.bg{
  background-color: #E4F9F5;
  margin-top: -50px;
  margin-bottom: -200px;
}
